pid = /var/run/stunnel/stunnel.pid
socket = l:TCP_NODELAY=1
socket = r:TCP_NODELAY=1

debug = ${STUNNEL_DEBUG}
output = /dev/stdout
foreground = yes
client = yes

[redis]
ciphers = PSK
accept = 0.0.0.0:6379
connect = ${STUNNEL_CONNECT}
PSKsecrets = /etc/stunnel/psk.txt
